<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<style>

body {
  background-image: url('https://i.pinimg.com/originals/e9/6a/4e/e96a4e2415999362b360a90631793fbf.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
 body
            font-family: 'Roboto', sans-serif;
            font-weight: 1000;
            color : white


        }
     }
</style>


<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://www.clipartmax.com/png/middle/187-1879810_banyan-tree-clipart-leaf-banyan-tree-logo-png.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{citynameTitle}} - CitySearch
  </a>
</nav>
 &nbsp;&nbsp;
</div>
<div class="card  bg-info mb-3">
  <h5 class="card-header">Weather</h5>
  <div class="card-body">

<div class="row">
     <div class="col-md-4 col-sm-6">
       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Weather Right Now:</h5>
      <h6 class="card-subtitle mb-2 text-muted">Temperature:</h6>
    <p class="card-text" > Celsius: {{tempNow}}</p>
      <h6 class="card-subtitle mb-2 text-muted">Feels Like:</h6>
      <p class="card-text" > Celsius: {{feelsLike}}</p>
      <h6 class="card-subtitle mb-2 text-muted">Humidity:</h6>
      <p class="card-text" > {{humitity}}%</p>
  </div>
</div>&nbsp;&nbsp;
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title">Today's Forcast:</h5>
     <h6 class="card-subtitle mb-2 text-muted">Lowest:</h6>
      <p class="card-text" > Celsius: {{min}}</p>
      <h6 class="card-subtitle mb-2 text-muted">Highest::</h6>
      <p class="card-text" > Celsius: {{max}}</p>

  </div>
</div>
    </div>

</div>
</div>
</div>
  </div>
</div>>&nbsp;&nbsp;
<div class="row">
     <div class="col-md-4 col-sm-6">
       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Current population:</h5>
    <p class="card-text" >{{cityPopulation}}</p>
  </div>
</div>&nbsp;&nbsp;
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Time Zone:</h5>
    <p class="card-text">{{cityTimezone}}</p>

  </div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Coordinates:</h5>

    <p class="card-text">Longitude: {{long}}</p>
      <p class="card-text">Latitude: {{lat}}</p>
  </div>&nbsp;&nbsp;

</div>